@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
a, p, h1, h2, h3, h4, h5, h6, label, li {
  font-family: "Lato";
}

* {
  margin: 0;
  padding: 0;
}

/************************  GLOBALES ***************************************/
body {
  background-color: #F2DFE4;
}

.logo {
  width: fit-content;
}

/*************** BUTTONS ***************/
.btn {
  padding: 0.375rem 0.75rem;
  color: #fff;
  font-weight: bolder;
  border: 1px solid #111;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: fit-content;
  line-height: 1.5;
  background-color: #111;
}
.btn:hover {
  border-color: #343a40;
  background-color: #f8f9fa;
  color: #343a40;
}

.carousel .carousel-item {
  width: 100%;
  position: relative;
}
.carousel .carousel-item::after {
  content: "";
  width: 100%;
  height: 33rem;
  background-color: #111;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1;
}
.carousel .carousel-item img {
  width: 100%;
  height: 33rem;
  object-fit: cover;
}
.carousel .carousel-item .carousel-caption {
  padding: 2rem;
  width: 90%;
  z-index: 100;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  text-align: center;
}
.carousel .carousel-item .carousel-caption h1, .carousel .carousel-item .carousel-caption h2, .carousel .carousel-item .carousel-caption p {
  color: #fff;
}
.carousel .carousel-inner .control-button {
  width: 100rem;
  height: 15rem;
  position: absolute;
  top: 25%;
  left: 0;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  z-index: 1000;
  transition: opacity 0.15s ease-in-out;
}
.carousel .carousel-inner .control-button:hover {
  opacity: 0.9;
}
.carousel .carousel-inner .control-button:focus {
  outline: none;
}

/****************   tarjeta **************************************/
.cards {
  width: 100%;
}
.cards .card {
  width: 22rem;
  background-color: #F2D1C9;
  padding: 1rem;
  margin: 1rem;
}
.cards .card .imagen img {
  width: 100%;
  height: 15rem;
}

/****************   HEADER         **************************************/
.header {
  width: 100%;
  background-color: #F2D1C9;
}
.header .logo img {
  width: 8rem;
}
.header .navegacion {
  width: fit-content;
  margin: 0;
  padding: 0;
}
.header .navegacion ul {
  width: fit-content;
}
.header .navegacion ul li {
  list-style: none;
}
.header .navegacion ul li a {
  font-size: 0.8rem;
  color: #000;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease-in-out;
}
.header .navegacion ul li a:hover {
  background-color: #94837f;
  color: #fff;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
}

/****************   reposteria **************************************/
.tortas, .tartas {
  width: 100%;
}
.tortas .torta, .tartas .torta, .tartas .tarta {
  width: 22rem;
  background-color: #F2D1C9;
  padding: 1rem;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
}
.tortas .torta .imagen img, .tartas .torta .imagen img, .tartas .tarta .imagen img {
  width: 100%;
  height: 15rem;
}
.tortas .torta:hover, .tartas .torta:hover, .tartas .tarta:hover {
  margin: 2rem;
  transform: scale(1.1);
}

/****************   contacto **************************************/
.contacto {
  width: 100%;
  background-color: #F2D1C9;
  padding: 0.5rem;
  margin: 2rem 0;
}
.contacto .titulo_seccion {
  width: fit-content;
}
.contacto .contenido_contacto {
  width: 100%;
  padding: 1rem;
}
.contacto .contenido_contacto .mapa {
  width: fit-content;
  margin: 0;
  padding: 0;
}
.contacto .contenido_contacto .mapa iframe {
  width: 17rem;
  height: 20rem;
}
.contacto .contenido_contacto .informacion {
  width: max-content;
}
.contacto .contenido_contacto .informacion p {
  width: fit-content;
}

/****************   tortas **************************************/
.tortas .torta, .tartas .torta, .tartas .tarta {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.tortas .torta img, .tartas .torta img, .tartas .tarta img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.tortas .torta .titulo-torta, .tartas .torta .titulo-torta, .tartas .tarta .titulo-torta {
  font-size: 3rem;
  font-family: "Italianno", cursive;
}

/****************   tartas **************************************/
/****************   postres **************************************/
.title {
  text-align: center;
  background-color: #F2D1C9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 50px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.title h1 {
  font-size: 36px;
  color: #333333;
  margin-bottom: 10px;
}
.title h2 {
  font-size: 24px;
  color: #777777;
  margin-bottom: 0;
}

.postre {
  margin: 1rem;
  padding: 1rem;
  background-color: #F2D1C9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 20rem;
  position: relative;
}
.postre img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.postre p {
  margin: 2rem 0;
}
.postre .precio {
  background-color: #f1c40f; /* color amarillo */
  border: none;
  color: #fff;
  padding: 1rem;
  width: 100%;
}

/****************   FOOTER **************************************/
.footer {
  width: 100%;
  background-color: #F2D1C9;
  padding: 1rem;
}
.footer .footer_contenedor {
  width: 100%;
}
.footer .footer_contenedor .logo {
  width: fit-content;
  padding: 0 3rem;
}
.footer .footer_contenedor .logo img {
  width: 10rem;
}
.footer .footer_contenedor .redes {
  display: inline;
  padding: 0 0.5rem;
}
.footer .footer_contenedor .redes .icon a img {
  width: 3rem;
}

/*# sourceMappingURL=main.css.map */
