/****************   HEADER         **************************************/
.header{
    width: 100%;
    background-color: #F2D1C9;
    .logo{
       img{
        width: 8rem;
       }
    }
    .navegacion{
        width: fit-content;
        margin: 0;
        padding: 0;
        ul{
            width: fit-content;  
            li{
                list-style: none;
                a{
                    font-size: .8rem;
                    color:  #000;
                    text-decoration: none;
                    padding: .5rem;
                    border-radius: 1rem;
                    transition: background-color .3s ease-in-out;
                    &:hover {
                        background-color: #94837f;
                        color: #fff;
                    }
                } 

            }
        }
    }
}