.carousel-item {
    width: 100%;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 20rem;
      background-color: #111;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .8;
      z-index: 1;
    }
    img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
    .carousel-caption {
        padding: 2rem;
        width: 100%;
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        h1,h2,p {
            color: #fff;
        }
    }   
}