/****************   postres **************************************/
.postre {
    width: fit-content;
    img {
        width: 20rem;
        height: 15rem;
    }
    p {
        width: 20rem;
    }
}
 
