/****************   tortas **************************************/
.tortas{
    @extend .tortas;
    .torta{
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        img{
            width: 100%;
            height: 15rem;
            object-fit: cover;
        }
        .titulo-torta {
            font-size: 3rem;
            font-family: 'Italianno', cursive;
        }
    } 
}
/****************   tartas **************************************/
.tartas{
    @extend .tortas;
    .tarta {
        @extend .torta;
    }
}

